body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}

.half {
  width: 50%;
  float: left;
}

.text-right {
  text-align: right;
}

#messages-filters {
  padding: 10px 0;
}

#messages-list {
  width: 300px;
}

#message-groups {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 300px;
  position: fixed;
  overflow: auto;
  height: 100%;
}

.message-group-header {
  border-bottom: 1px solid #333;
}

.message-group-list {
  list-style: none;
  padding: 0;
}

.message-group-list-item {
  border-bottom: 1px solid #333;
  padding: 10px 0;
  cursor: pointer;
}

.message-group-list-item.read {
  color: #B6B6B6;
}

.message-group-list-item:hover {
  background-color: #efefef;
}

#messages-detail {
  padding: 20px;
  padding-top: 34px;
}

#messages-detail dt {
  display: inline;
  font-weight: bold;
}

#messages-detail dd {
  display: inline;
}

#messages-detail-header {
  border-bottom: 1px solid #333;
}

#messages-detail-header ul {
  list-style: none;
  padding: 0;
}

#email-app {
  display: table;
  height: 100%;
  width: 100%;
}

#email-app .col {
  display: table-cell;
  vertical-align: top;
}

#email-app .row {
  display: table-row;
}
