body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}

.half {
  width: 50%;
  float: left;
}

.text-right {
  text-align: right;
}

#messages-filters {
  padding: 10px 0;
}

#messages-list {
  float: left;
}

#message-groups {
  display: block;
  list-style: none;
  padding: 0;
  height: 100%;
  position: fixed;
  overflow: auto;
  width: 300px;
  margin: 0;
}

.message-group-header {
  border-bottom: 1px solid #333;
}

.message-group-list {
  list-style: none;
  padding: 0;
}

.message-group-list-item {
  border-bottom: 1px solid #333;
  padding: 10px 0;
  cursor: pointer;
}

.message-group-list-item.read {
  color: #B6B6B6;
}

.message-group-list-item:hover {
  background-color: #efefef;
}
